@import url('../../../assets/bootstrap/bootstrap.min.css');

.btn2{
  margin-top: 1px;
  margin-bottom: 20px;
  float: right;
  padding: 8px 20px;
  border-radius: 5px;
  background-color:#fff ;
  color:  #3568A6;
  cursor: pointer;
  border: 2px solid #3568A6 ;
}
table {
  width: 100%;
  text-align: center;
}

.mat-mdc-form-field {
  font-size: 14px !important;
  width: 100%;
}


th {
  width: 10%;
  font-weight: normal;
  background-color: #3568A6 !important;
  color: white !important;
}



.container-div {
  padding: 4% 4%
}

@media only screen and (min-width: 100px) and (max-width: 600px){
.container-div[_ngcontent-rcp-c158] {
    width: 99%;
}
}

.btnView {
  background-color: #3568A6 !important;
}

ng-container {
  text-align: center !important;
}
.btn{
  color: white;
  background-color: #3568A6;
}