
<div class="container-div">
  <h2 style="color:#3568A6;text-align: center;" >All Complaints</h2>
    <!-- <button routerLink="" class="btn2">Logout</button> <br> -->
    <div class="row no-gutters">
      <div class="col-10 text-end mb-2">
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="name"
          (ngModelChange)="search()"
          placeholder="Enter Something"
        />
      </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sr. no</th>
          <th scope="col">Customer Name</th>
          
          <!-- <th scope="col">Assign Engineer</th> -->
         
          <th scope="col">Assign Engineer</th>
          <th scope="col">Assigned Engineer</th>
          <th scope="col">Status</th>
          <th scope="col">View details</th>
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of items |paginate:{itemsPerPage:4, currentPage:p};index as i ">
          <td>{{i+1}}</td>
          <td>{{data.firstName}} {{ data.lastName}}</td>
          <td><button class="btn" mat-raised-button color="accent" [disabled]="data.status !=='open'"
            (click)="openDialog1(data.pinCode,data._id,data.firstName)">Assign</button></td>
         
          <td>{{data.assignUserId}}
            <!-- -------------------------------- -->
            <!-- <button class="btn" mat-raised-button color="primary" 
            mat-button (click)="openDialog3(data._id)">Contact</button> -->
               <!-- -------------------------------- -->
          </td>

          <td>{{data.status}}</td>
          <td> <button class="btn" mat-raised-button color="primary" 
            mat-button (click)="openDialog(data._id)">View Details</button></td>
        </tr>
        
        
        
      </tbody>
    </table>

  </div>
  <pagination-controls (pageChange)="p=$event" class="float=rigth"></pagination-controls>
