
.btn{
    background-color: #3568A6;
      color: #fff;
  }
  
  table {
      width: 100%;
    }
  
    th{
      background-color: #3568A6 !important;
      color: white !important;
      font-weight: normal !important;
    }
  
    .container-div
    {
      padding: 2% 2%
    }
    
    .btnView{
     color : #3568A6 !important;
     background-color: transparent !important;
     border:0px;
     margin: 0;
     padding: 0;
    }
  
    .btnView:hover{
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
   
    ng-container{
      text-align: center !important;
    }
  
    .main{
      display: flex;
  
    }