<div class="container text-center my-5" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;background-color: white;">
    <h2 style=" color: #3568A6;padding-top: 2%;" class="my-5">Update User</h2>

    <div class="container">
        <form #updateForm = "ngForm" (ngSubmit)="updateUser(updateForm.value)">
            <!-- Email input -->
            <!-- <input type="text" name="id" class="form-control" placeholder="Enter Name" ngModel="{{toUpdateUserData?.id}}" style="display: none;"/> -->
            <div class="form-outline mb-4">
                <input type="text" name="userType" class="form-control" placeholder="Enter Name" ngModel="{{toUpdateUserData?.userType}}"/>
            </div>


            
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col-6 w-50 d-flex justify-content-center">
                    <input type="text" name="firstName" class="form-control" placeholder="Enter first Name" ngModel="{{toUpdateUserData?.firstName}}"/>
                </div>
                <div class="col-6 w-50 d-flex justify-content-center">
                    <input type="text" name="lastName" class="form-control" placeholder="Enter last Name" ngModel="{{toUpdateUserData?.lastName}}"/>
                </div>
                
            </div>

            <div class="row mb-4">
                <div class="col-6 w-50 d-flex justify-content-center">
                    <input type="text" name="phone" class="form-control" placeholder="Enter phone" [maxlength]="10" [minlength]="10" (keypress)="numberOnly($event)" ngModel="{{toUpdateUserData?.phone}}"/>
                </div>
                <div class="col-6 w-50 d-flex justify-content-center">
                    <input type="text" name="email"  class="form-control" placeholder="Enter Email" ngModel="{{toUpdateUserData?.email}}"/>
                </div>
                
            </div>

            <div class="row mb-4">
                <div class="col-6 w-50 d-flex justify-content-center">
                    <input type="text" name="address1"  class="form-control" placeholder="Enter Address" ngModel="{{toUpdateUserData?.address1}}"/>
                </div>
                <div class="col-6 w-50 d-flex justify-content-center">
                    <input type="text" name="pinCode"  class="form-control" placeholder="Enter Pincode" ngModel="{{toUpdateUserData?.pinCode}}"/>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-6 w-50 d-flex justify-content-center">
                    <input type="text" name="username" class="form-control" placeholder="Enter Contact" ngModel="{{toUpdateUserData?.username}}"/>
                </div>
                <div class="col-6 w-50 d-flex justify-content-center">
                    <input type="text" name="password"  class="form-control" placeholder="Enter password" ngModel="{{toUpdateUserData?.password}}"/>
                </div>
            </div>
<!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block" style="margin-bottom: 2%;" >Update</button>
    <button routerLink="/admin/Registration"  class="btn btn-primary btn-block" style="margin-bottom: 2%;margin-left: 1%;">Back</button>
    </form>

</div>
</div>
