



<header style="background-color: #3568A6;height: 25%;">

    <div class="container-fluid" style="background-color: #3568A6">
    <div class="row no-gutters" style="background-color: #3568A6;display: flex;
    align-items: center; width:100%;">
        <div class="col-6  w-50">
            <div class="p-5 text-left " style="color: white;text-shadow: 4px 4px 2px rgba(0,0,0,0.6);">
               <a routerLink="" style="color: white;text-decoration: none;"> <h1 class="mb-0" style="font-size: 100px;"><strong>ABC</strong> </h1>
                <h4 class="mb-1">Telecom Ltd.</h4></a>

            </div>
        </div>
        <div class="col-6 w-50" style="text-align: right;">
            <img src="../../assets/telecom-PhotoRoom.png-PhotoRoom.png" class="img-fluid w-50" alt="">
        </div>
    </div>
</div>

</header>