 @import url('../../../assets/bootstrap/bootstrap.min.css');

.edit
{
    background-color: transparent;border: 0;
    color: white;
}
.edit:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    border: 1px solid white;
}
h4,p {
    color: white;
}
