<section class="">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem; border: 0">
          <div class="row g-0">
            <div
              class="col-md-4 gradient-custom text-center text-white"
              style="
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              "
            >
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-5">
                <h5>Assign Engineer</h5>
                <hr class="mt-0 mb-4" />
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="row pt-1">
                    <!-- Default radio -->

                    <div class="form-check mx-2" *ngFor="let items of user">
                      <input
                        class="form-check-input"
                        type="radio"
                        [value]="items.email"
                        formControlName="assignUserId"
                      />
                      <input
                        type="text"
                        [value]="items.status"
                        formControlName="status"
                        style="display: none"
                      />
                      <label class="form-check-label">
                        {{ items.firstName }} {{ items.lastName }}
                      </label>
                    </div>
                  </div>
                  <!-- <div class="row"> -->
                  <div
                    class="btn-main-div"
                    style="
                      display: grid;
                      grid-template-columns: 1fr 1fr;
                      column-gap: 10px;
                      margin-top: 30px;
                    "
                  >
                    <button class="btn" mat-dialog-close>Cancel</button>
                    <button
                      class="btn"
                      data-dismiss="card"
                      mat-dialog-close
                      type="submit"
                     
                    >
                      Ok
                    </button>
                    <!-- </div> -->
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
